body{
    background-image: url(../img/background.jpg);
}
/* #grid1 div[class^="col"]{
    border: 2px solid red;
    
} */
h1{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: white;
    text-shadow: -7.5px 0px black;
}
.title{
    text-align: center;
}
#row1{
    height: 15%;
}
#row2{
    height: 85%;
}
h3{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    text-shadow: -4.5px 0px black;
}
.btn{
    --bs-btn-padding-y: 1rem; 
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: 30px;
    font-family: "VT323", monospace; ;
    color: white;
    text-shadow: -2.5px 0px black;
    border: 3px solid #858585;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
}
img{
    max-height: 45px;
}
.clickable-column{
    border: 2px solid black;
    background-color: white;
    min-height: 64px;
    max-width: 64px;
}
