body{
    background-image: url(../img/background.jpg);
}
#grid1 div[class^="col"]{
    border: 2px solid red;
    
}
.row{
    border: black solid 2px;
}

h1{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: white;
    text-shadow: -8px 0px black;
}
.title{
    text-align: center;
}
#row1{
    height: 15%;
}
#row2{
    height: 85%;
}
h3{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}